@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Open+Sans:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

/* date range style */
.rdrDayToday:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span::after,
.rdrDayToday:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span::after,
.rdrDayToday:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span::after,
.rdrDayToday:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span::after{
background-color: #fff !important;
}

.rdrDayToday .rdrDayNumber span:after {
background: #000000 !important;
}

.rdrMonthAndYearPickers {
font-size: 16px;
}

.rdrDayNumber, .rdrWeekDay {
color: #1e1f23 !important;
font-weight: 500 !important;
}

/* swiper styles */
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
background-color: #000000;
}


@layer base{
body{
    @apply text-primary bg-body;
}
p{
    @apply text-secondary;
}
.h1{
    @apply text-4xl xl:text-[64px] text-primary xl:leading-[72px] font-extrabold mb-[18px];
}
.h2{
    @apply text-4xl mb-6 font-bold;
}
.h3{
    @apply text-xl mb-4 font-semibold;
}
.description{
    @apply text-base xl:text-xl xl:leading-8;
}
.section{
    @apply w-full h-screen pt-[60px] xl:pt-[120px];
}
.btn{
    @apply rounded-[10px] w-full uppercase font-medium text-white tracking-[2px] text-[13px] flex justify-center items-center transition-all duration-300;
}
.btn-sm {
    @apply h-14;
}
.btn-lg {
    @apply h-16;
}
.btn-cta{
    @apply bg-primary h-[54px] rounded-[5px] px-4 transition-all duration-300;
}
.btn-primary{
    @apply bg-primary;
}
.btn-secondary{
    @apply bg-secondary;
}
.btn-accent{
    @apply bg-accent-default hover:bg-accent-hover;
}
.active{
    @apply xl:border-b-2 xl:border-black ;
}
}


/* Agrega esta clase a tu hoja de estilos Tailwind CSS */
/* Shine */
.hover14 figure {
	position: relative;
}
.hover14 figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14 figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}